<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewBag.Title - Helwan University, Faculty of Science</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.gif")" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    @Styles.Render("~/Custom/CSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="logo">
        <div class="container">
            <img src="@Url.Content("~/Content/images/logo.png")">
        </div>
    </div>
    @RenderBody()
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Custom/JS")
    @RenderSection("scripts", required: false)
</body>
</html>